* {
    margin: 0;
}

header, div, nav {
    display: block;
}

header, footer {
    background-color: rgb(24, 26, 27);
    padding: 20px 50px;
}

footer, nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav a {
    margin-left: 30px;
}

a {
    color: rgb(209, 205, 199);
    text-decoration-color: initial;
    text-decoration: none;
}

a:hover {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}